

<!DOCTYPE html>
<html>
<title>Shubham Java and NodeJS Blog</title>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
<link rel="stylesheet" type="text/css" href="/css/datatable.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- ****************************************High Lighter PLUGINs**************************************** -->
</script><script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


  <!-- ****************************************Google PLUGINs**************************************** -->
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMAWPMDGHGh-KUNMkjSIlMBD1JMtTfbxk&callback=initMap"></script>

  <!-- ****************************************My PLUGINs**************************************** -->
  <link rel="stylesheet" type="text/css" href="/css/fullblog.css">

  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <script src="js/datatable.js"></script>
  <script src="js/dashboard.js"></script>
  <script src="js/navigator.js"></script>


  <script>hljs.initHighlightingOnLoad();</script>

<script>
$(document).ready(function(){
	 $("#ustable").dataTable({
        "sPaginationType": "full_numbers",
        "bJQueryUI": true,
        "iDisplayLength": 5 
    });
	 	 $(".dataTables_length select").addClass("selectEntry").attr("placeholder", "Type here to search").append('<br><br><br><br>');
	 	 $(".dataTables_filter input").addClass("searchInput").attr("placeholder", "Type here to search");;

	 $(".collapse").hide();

	
	 $("a").click(function(){
	 	 $(".collapse").hide();
	 });
	$("span").click(function(){
	 	 $(".collapse").hide();
	 });

})

$(document).on("click",".head",function() { 
	   var id = $(this).data('id');
	 	$("#collapse-"+id).toggle("slow");
	});
</script>
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script><script type="text/javascript">
</script>
<script>

</script>
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script><script type="text/javascript">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">


<% include partials/loginheader.html %>

<center><h1><%= message %></h1></center>

<table class="cudrrentusers" id="ustable">
    <thead>
        <tr>
		<th>Java and Node.js Blogs by Shubham Yeole</th>
        </tr>
    </thead>

    <tbody>
<% blog.forEach(function(blog){%>
	<tr  class="haed" id="tr-<%= blog._id %>">
		<td class="namesection" >
			<div id="head-<%= blog._id %>" data-id="<%= blog._id %>" class="head">
				<p class="title">
					<img src="/images/more.jpg" width="12" height="12">&nbsp;	&nbsp;<%= blog.title %>

				</p>
				<div style="color: #999999; float: right; margin-top: -1cm;">
					Posted by <%= blog.name %> under <%= blog.category %> category <a class="deleteBlog" data-id="<%= blog._id %>" href="#"><i class="material-icons" style="color: red">delete_forever</i></a></div>
				</div>
			</div>
			<div id="collapse-<%= blog._id %>" class="collapse">

				<a type="button" id="mapb" href="#popup1" onclick="init_map(<%= blog.lat %>,<%= blog.long %>,'<h1><%= blog.title %></h1><h3> blog is posted from this location</h3>')"><img src="/images/mappin.jpg" width="22" height="32"></a>	&nbsp;	&nbsp;
				<button class="likeUser" data-id="<%= blog._id %>"><img src="/images/like.jpg"  width="22" height="22" /><span id="like-<%= blog._id %>" data-id="<%= blog._id %>" class="addspacing"><%= blog.like %></span></button>	&nbsp;	&nbsp;
				<button class="dislikeUser" data-id="<%= blog._id %>"><img src="images/dislike.jpg"  width="22" height="22" /><span id="dislike-<%= blog._id %>" data-id="<%= blog._id %>" class="addspacing"><%= blog.dislike %></span></button>	&nbsp;	&nbsp;
				<a class="readmore" href="/view/blog/<%= blog._id %>">Read More</a><br><br>
				<div class="scrollable" style><%- blog.data %></div>
			</div>
			<style type="text/css">.readmore{  padding: 10px;  background-color: #898989;color: white;  font-weight: bold;}</style>
		</td>
	</tr>
<%}) %>
    </tbody>        
</table>
<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <% blog.forEach(function(blog){%>

  <div class="w3-card-4 w3-margin w3-white">
    <img src="../../images/<%= blog.imagename %>.jpg" alt="Nature" style="width:100%; height: 300px">
    <div class="w3-container w3-padding-8">
      <hr><h1><b>Post Title: <%= blog.title %></b></h1><hr>
      <h5>Posted by: <%= blog.name %>,<br> 
      <h5>Blog category: <%= blog.category %>,<br> 
      <span class="w3-opacity"><%= blog.date %></span></h5>
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fjava-nodejs-blog.herokuapp.com%2Fview%2Fblog%2F<%= blog._id%>&layout=button_count&size=small&mobile_iframe=true&appId=298310910569242&width=69&height=20" width="89" height="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script><br>
      <script type="IN/Share" data-url="https://java-nodejs-blog.herokuapp.com/view/blog/<%= blog._id%>" data-counter="right"></script><br>
      <span class="w3-opacity">

     
	      Posted from GPS: &nbsp;	&nbsp;&nbsp;	&nbsp;<a type="button" id="mapb" href="#popup1" onclick="init_map(<%= blog.lat %>,<%= blog.long %>,'<h1><%= blog.title %></h1><h3> blog is posted from this location</h3>')"><img src="/images/mappin.jpg" width="22" height="32"></a>
      </span>
    </div>

    <div class="w3-container">
      <p><div class="wrapper" style><div class="scrollable" style><%- blog.data %></div></div></p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-btn w3-padding-large w3-white w3-border w3-hover-border-black"><b>

          <a href="/view/blog/<%= blog._id %>">READ MORE »</a>

          </b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <table width="40%" style="float: right;">
          <tr>
          <td><p><span class="w3-padding-large w3-right">
            <p class="likeUser" data-id="<%= blog._id %>"><img src="/images/like.jpg"  width="42" height="42" /><span id="like-2-<%= blog._id %>" data-id="<%= blog._id %>" class="addspacing"><%= blog.like %></span></button>
            </p></span></p></td>
            <td>
            <p class="dislikeUser" data-id="<%= blog._id %>"><img src="images/dislike.jpg"  width="42" height="42" /><span id="dislike-2-<%= blog._id %>" data-id="<%= blog._id %>" class="addspacing"><%= blog.dislike %></span></p>
            </span></p>
            </td>
            </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
  <%}) %>

  <hr>
<!-- END BLOG ENTRIES -->
</div>

<script type="text/javascript">
	
	$(document).on("click",".w3-padding-16",function() { 
	  	var id = $(this).attr('id');
	 	window.location = "https://java-nodejs-blog.herokuapp.com/dashboard/"+id;
});

</script>
  
    <% include partials/tiles/rightsidedown.html %>

 
  <!-- Labels / tags -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
 <center><p style="font-size: 2em; font-weight: bold; color: #cecece">
 &copy; 2016 java-nodejs-blog.herokuapp.com. All Rights Reserved.
 </p>
 <p>Developed by: Shubham Yeole</p>
 <p>+(201) 887-5323</p>
 <p>10 Front street,</p>
 <p>Jersey City</p>
 <p>07302 NJ</p>
 <p>USA</p>

 </center>
</footer>
<div id="popup1" class="overlay">X
	<div class="popup">
		<div class="content"><h1>Java & NodeJS blog</h1><h3>by Shubham Yeole</h3>
		<a class="close" href="#"> &times;</a>
		</div>
			<div id='gmap_canvas' style='height:440px;width:100%;'></div>
		
	</div>
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">

<style type="text/css">

</style>
			</div>
		</div>
		
<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
		<script type='text/javascript'>
function init_map(x,y,z){
	var myOptions = {center: myCenter,
		zoom:15,center:new google.maps.LatLng(x,y),mapTypeId: google.maps.MapTypeId.MAP};
		var myCenter = new google.maps.LatLng(x, y); 

		map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);

		marker = new google.maps.Marker({position: myCenter, map: map});

		infowindow = new google.maps.InfoWindow({content:z});

		google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});

		infowindow.open(map,marker);}
</script>
</body>
</html>

