<% include partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="theme/css/index.css"> 

  <!-- End menu section -->

  <!-- Start slider  -->
  <section id="aa-slider">
    <div class="aa-slider-area"> 
      <!-- Top slider -->
      <div class="aa-top-slider">
      <div class="aa-top-slider-single">
            <img src="theme/img/slider/2.jpg" alt="img">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <h2 class="aa-top-slider-title">Welcome to Shubham Great Livings</h2><br>
              <span class="aa-top-slider-catg">We are glad you are here...</span><br><br>
               <p class="aa-top-slider-location"><i class="fa fa-home"></i>Head Quarter located at Jersey City</p>
              <span class="aa-top-slider-off">Our organization is pledged to helping people find their perfect house</span><br>
            <span class="aa-top-slider-off"><a href="/" target="_blank">HOME<span class="fa fa-angle-double-right"></a></span> | 
            <span class="aa-top-slider-off"><a href="/gallery/0" target="_blank">GALLERY<span class="fa fa-angle-double-right"></a></span> | 
            <span class="aa-top-slider-off"><a href="/propertiesbymaps" target="_blank">MAP<span class="fa fa-angle-double-right"></a></span> | 
            <span class="aa-top-slider-off"><a href="/properties/0" target="_blank">PROPERTIES<span class="fa fa-angle-double-right"></a></span> | 
            <span class="aa-top-slider-off"><a href="/postadd" target="_blank">POST ADD<span class="fa fa-angle-double-right"></a></span> | 
            <span class="aa-top-slider-off"><a href="/contact" target="_blank">CONTACT<span class="fa fa-angle-double-right"></a></span>

            </div>
        </div>         
        <% property.forEach(function(property){%>
          <div class="aa-top-slider-single">
            <img src="<%= property.image1 %>?i=0" alt="img">
            <!-- Top slider content -->
            <div class="aa-top-slider-content">
              <span class="aa-top-slider-catg"><%= property.propertytype %></span><br>
              <h2 class="aa-top-slider-title"><%= property.area %> Square Feet</h2>
              <p class="aa-top-slider-location"><i class="fa fa-map-marker"></i><%= property.staddress %><%= property.city %><%= property.state %> (<%= property.country %>)</p>
              <span class="aa-top-slider-off">30% OFF</span>
              <p class="aa-top-slider-price">$<%= property.cost %></p>

              <a href="/detailedproperty/<%= property.timestamp %>" class="aa-top-slider-btn">Read More <span class="fa fa-angle-double-right"></span></a>
            </div>
        </div>
        <%}) %>
  
        <!-- / Top slider single slide -->
      </div>
    </div>
  </section>
  <!-- End slider  -->
  <% include partials/myproject.ejs %>

  <!-- Advance Search -->
  <section id="aa-advance-search">
    <div class="container">
      <div class="aa-advance-search-area">
        <div class="form">
         <div class="aa-advance-search-top">
            <div class="row" style="text-align: center;">
                  <input type="text"  id="searchloccation" placeholder="STREET ADDRESS / ZIP / COUNTY">
              
            </div>
          </div>
          <br><br>
          <div id="searchtable">
      <p id="searchmsg">We have: <span id="searchlength"></span> results for <span id='searchcity'></span> like city. Find below.</p>
        </div><div id="showsearch"></div>
      </div>
    </div>
  </section>
  <!-- / Advance Search -->

  <!-- About us -->
  
  <!-- / About us -->

  <!-- Latest property -->
  <section id="aa-latest-property">
    <div class="container">
      <div class="aa-latest-property-area">
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
       <script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.js"></script>

        <script type="text/javascript">

</script>
      </div>
        <div class="aa-title">
          <h2>LATEST PROPERTIES</h2>
          <span></span>
          <p>Our organization is pledged to helping people find their perfect house...</p>         
        </div>
        <div class="aa-latest-properties-content">
          <div class="row">
          <% property.forEach(function(property){%>

  <div class="col-md-4">

              <article class="aa-properties-item">
                <a href="/detailedproperty/<%= property.timestamp %>" class="aa-properties-item-img">
                  <img style="max-height: 200px; min-height: 200px; " src="<%= property.image1 %>" alt="img">
                </a>
                 <!-- <div class="aa-tag sold-out">
                  Sold Out
                </div> -->
                <div class="aa-tag for-sale">
                  <%= property.addtype %>
                </div>
                <div class="aa-properties-item-content">
                  <div class="aa-properties-info">
                    <span><%= property.kitchen %> Kitchen</span>
                    <span><%= property.bathroom %> Bathroom</span>
                    <span><%= property.bedroom %> Bedroom</span>
                  </div>
                  <div class="aa-properties-about">
                      <div class="propertydisplay">

                    <h3><a href="#"><%= property.propertytype %></a></h3>
                    <p class="description"><%= property.discription %>...</p>   
                                         
                    <p><%= property.area %> SQ FT</p>                      
                    </div>
                  </div>
                  <div class="aa-properties-detial">
                    <span class="aa-price">
                     <p>$<%= property.cost %></p> 
                    </span>
                    <a href="/detailedproperty/<%= property.timestamp %>" class="aa-secondary-btn">View Details</a>
                  </div>
                </div>
              </article>

            </div>
  <%}) %>

            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Latest property -->
<section id="aa-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-about-us-area">
            <div class="row">
              <div class="col-md-4">
                <section id="aa-agents">
    <div class="container" style="margin-top: -150px">
          <div class="aa-agents-area">
            
            <!-- agents content -->
            <div class="aa-agents-content">
              <ul class="aa-agents-slider">
                
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="images/team/shubham.jpg" height="330" width="270" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">SHUBHAM YEOLE</a></h4>
                      <span>FULL STACK DEVELOPER</span>
                      <div class="aa-agent-social">
                        <a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/shubham20yeole" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="http://stackoverflow.com/users/5451749/shubham-yeole" target="_blank"><i class="fa fa-stack-overflow"></i></a>
                      </div>
                    </div>
                  </div>
                </li>              
              </ul>
           
        </div>
      </div>
    </div>
  </section>
              </div>
              <div class="col-md-7">
                <div class="aa-about-us-right">
                  <div class="aa-title">
                    <h2>About Me</h2>
                    <span></span>
                  </div>
                  <p><h3>Connect with the right professionals to get your job done.</h3>
                  My name is Shubham Yeole, a Computer Science Graduate Student developer of this REAL ESTATES web application. SHUBHAM GREAT LIVINGS was developed to illustrates my skills in 11 scripting/programming languages which includes <b>(Java, Spring (MVC), Hibernate, Node.js, Express Framework, AngularJS, JavaScript, jQuery, Ajax MySQL and MongoDB);</b> and advanced knowledge of developer applications, tools, methodologies and best practices <b>(including Google, Facebook, Linkedin, Paypal, SendGrid, Twilio APIs, OAuth 2 and Restfull Webservices).</b></p>
                  
                  <h3>CONTACT DETAILS</h3>
                  <ul>
                    <li><b>PHONE :</b> +1 (201) 887-5323</li>
                    <li><b>EMAIL :</b> shubham20.yeole@gmail.com / shubhamyeole.cs@gmail.com</li>
                    <li><b>ADDRESS 1 :</b> Front Street, Jersey City, NJ 07302, USA</li>
                    <li><b>ADDRESS 2 :</b> Parkside, Fremont, CA 94536, USA</li>
                    <li><a href="http://shubhamyeole.byethost8.com/public_html/career/ShubhamYeoleResume.pdf" target="_blank"><b>RESUME :</b> <span style="color: blue">FULL STACK DEVELOPER</span></a></li>
                    <li><b>STATUS :</b> SEEKING FULL TIME OPPORTUNITY</li>
                  </ul>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Promo Banner Section -->
  <section id="aa-promo-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-promo-banner-area">
            <h3>Find Your Best Property</h3>
            <p>Find your best property today !</p><br>
            <a href="/properties/0" class="aa-view-btn" target="_blank">Find now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Promo Banner Section -->

  <!-- Service section -->
  <section id="aa-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-service-area">
            <div class="aa-title">
              <h2>Our Service</h2>
              <span></span>
              <p>We provide great services to post, list and search properties throughout US</p>
            </div>
            <!-- service content -->
            <div class="aa-service-content">
              <div class="row">
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-home"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="/gallery/0" target="_blank">Gallery</a></h4>
                      <p>Find latest properties by viewing our gallery.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-check"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="/postadd" target="_blank">Property Post</a></h4>
                      <p>Post properties to let people know about great things you have to offer this world</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-crosshairs"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="/propertiesbymaps" target="_blank"> MAP</a></h4>
                      <p>Find properties by Map</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="aa-single-service">
                    <div class="aa-service-icon">
                      <span class="fa fa-bar-chart-o"></span>
                    </div>
                    <div class="aa-single-service-content">
                      <h4><a href="/properties/0" target="_blank">Properties listing</a></h4>
                      <p>Find properties</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Service section -->
  <!-- 
  <section id="aa-agents">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-agents-area">
            <div class="aa-title">
              <h2>TEAM MEMBERS</h2>
              <span></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit ea nobis quae vero voluptatibus.</p>
            </div>
            <center>
            <div class="aa-agents-content">
              <ul class="aa-agents-slider">
                
                <li>
                  <div class="aa-single-agents">
                    <div class="aa-agents-img">
                      <img src="images/team/shubham.jpg" height="330" width="270" alt="agent member image">
                    </div>
                    <div class="aa-agetns-info">
                      <h4><a href="#">SHUBHAM YEOLE</a></h4>
                      <span>Lead Developer</span>
                      <div class="aa-agent-social">
                        <a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://github.com/shubham20yeole" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="http://stackoverflow.com/users/5451749/shubham-yeole" target="_blank"><i class="fa fa-stack-overflow"></i></a>
                      </div>
                    </div>
                  </div>
                </li>              
              </ul>
            </div>
            </center>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- / Our Agent Section-->

  <!-- Client Testimonial -->
  <section id="aa-client-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-client-testimonial-area">
            <div class="aa-title">
              <h1 style="color: white">Testimonial</h1>
              <span></span>
              <p>What our clients Say?</p>
            </div>
            <!-- testimonial content -->
            <div class="aa-testimonial-content">
              <!-- testimonial slider -->
              <ul class="aa-testimonial-slider">
                <li>
                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      <img src="images/CommonMan.jpg" alt="testimonial img">
                    </div>
                    <div class="aa-testicmonial-info">
                      
                    <div class="aa-testimonial-bio">
                    <p style="color: white;">This platform seems very usefull for people find appropriate house for rent. The map locator while posting advertisement is veritable treasure for poster who can make sure if the location is not going wrong.</p>
                    <br><br><p><br>Raunak Zaa<span>MBBS Doctor</span></p>
                    </div>
                      
                      
                    </div>
                  </div>
                </li>
                <li>
                  <div class="aa-testimonial-single">
                    <div class="aa-testimonial-img">
                      <img src="images/CommonMan.jpg" alt="testimonial img">
                    </div>
                    <div class="aa-testimonial-info">
                      <p>This platform seems very usefull for people find appropriate house for rent. The map locator whle posting an add veritable treasure for poster who can make sure if the location is not going wrong.</p>
                    </div>
                    <div class="aa-testimonial-bio">
                      <p>Raunak Zaa</p>
                      <span>MBBS Doctor</span>
                    </div>
                  </div>
                </li>
                 
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Client Testimonial -->

  <!-- Client brand -->
  <section id="aa-client-brand">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-client-brand-area">
            <ul class="aa-client-brand-slider">
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/angularjs.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/ajax.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/nodejs.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/aws.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/jquery.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
               <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/ajax.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/angularjs.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/javascript.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/mysql.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
              <li>
                <div class="aa-client-single-brand">
                  <img src="images/technology/mongodb.jpg" width="150" height="60" alt="brand image">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Client brand -->

  <!-- Latest blog -->
  <section id="aa-latest-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-latest-blog-area">
            <div class="aa-title">
              <h2>BUY SUBSCRIPTION</h2>
              <span></span>
              <p>The official Subscriptions speeds up marketing your advertisement by floating your add to top</p>
            </div>
            <div class="aa-latest-blog-content">
              <div class="row">
                <!-- start single blog -->
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="/paypal" target="_blank" ><img src="images/$5.jpg" width="360" height="240" alt="img"></a>
                      <span class="aa-date-tag">$5 / Month</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Includes 100 Add pack and more.</p>
                      <div class="aa-blog-single-bottom" style="font-weight: bold;">
                        <br><br>
                        <p>4 image per property</p>
                        <p>FREE account</p>
                        <p>Unlimited email updates</p>
                        <br><br>
                        <a href="/paypal" class="aa-blog-author" target="_blank"><i class="fa fa-usd"></i> BUY NOW</a>
                        <a href="/paypal" target="_blank" class="aa-blog-comments"><i class="fa fa-money"></i>25% Discount</a>
                      </div>
                    </div>
                   
                  </article>
                </div>
                <!-- start single blog -->
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="/paypal" target="_blank" ><img src="images/$15.jpg" width="360" height="240" alt="img"></a>
                      <span class="aa-date-tag">$15 / Month</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Includes 200 Add pack and more.</p>
                      <div class="aa-blog-single-bottom" style="font-weight: bold;">
                        <br><br>
                        <p>10 image per property</p>
                        <p>FREE account</p>
                        <p>Unlimited email updates</p>
                        <br><br>                        
                        <a href="/paypal" class="aa-blog-author" target="_blank"><i class="fa fa-usd"></i> BUY NOW</a>
                        <a href="/paypal" target="_blank" class="aa-blog-comments"><i class="fa fa-money"></i>50% Discount</a>
                      </div>
                    </div>                   
                  </article>
                </div>
                <!-- start single blog -->
                <div class="col-md-4">
                  <article class="aa-blog-single">
                    <figure class="aa-blog-img">
                      <a href="/paypal" target="_blank" ><img src="images/$45.jpg" width="360" height="240" alt="img"></a>
                      <span class="aa-date-tag">$45 / Month</span>
                    </figure>
                    <div class="aa-blog-single-content">
                      <h3><a href="#">Includes 1200 Add pack and more.</p>
                      
                      <div class="aa-blog-single-bottom" style="font-weight: bold;">
                      <br><br>
                        <p>UNLIMITED image per property</p>
                        <p>FREE account</p>
                        <p>Unlimited email updates</p>
                        <br><br>
                        <a href="/paypal" class="aa-blog-author" target="_blank"><i class="fa fa-usd"></i> BUY NOW</a>
                        <a href="/paypal" target="_blank" class="aa-blog-comments"><i class="fa fa-money"></i>60% Discount</a>
                      </div>
                    </div>                   
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Latest blog -->

  <!-- Footer -->

  <!-- / Footer -->

 
  
  <!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="theme/js/bootstrap.js"></script>   
  <!-- slick slider -->
  <input type="hidden" id="longLatCurrenttask" value="RE-HOME">
  <script type="text/javascript" src="theme/js/navigator.js"></script>
  <script type="text/javascript" src="theme/js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="theme/js/nouislider.js"></script>
  
  <!-- Custom js -->
  <script src="theme/js/custom.js"></script> 
  <script src="theme/js/search.js"></script> 

  </body>
</html>


   
<% include partials/footer %>
