        <style type="text/css">
              html { height: 100% }
              body { height: 100%; margin: 0; padding: 0 }
              #map_canvas { height: 100% }
            </style>
            <script type="text/javascript"
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1tbIAqN0XqcgTR1-FxYoVTVq6Is6lD98&sensor=false">
            </script>
            <script type="text/javascript">
            var map;
            var locations = [
              ['loan 1', 33.890542, 151.274856, 'address 1'],
              ['loan 2', 33.923036, 151.259052, 'address 2'],
              ['loan 3', 34.028249, 151.157507, 'address 3'],
              ['loan 4', 33.80010128657071, 151.28747820854187, 'address 4'],
              ['loan 5', 33.950198, 151.259302, 'address 5']
              ];
              function initialize() {
                var myOptions = {
                  center: new google.maps.LatLng(22.503160, -100.269164),
                  zoom: 4,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                };
                map = new google.maps.Map(document.getElementById("default"),
                    myOptions);map.data.setStyle(function(feature) {
                  var magnitude = feature.getProperty('mag');
                  return {
                    icon: getCircle(magnitude)
                  };
                });
                var script = document.createElement('script');
                script.src = 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_month.geojsonp';
                document.getElementsByTagName('head')[0].appendChild(script);
               
                
                setMarkers(map,locations)
          }
function getCircle(magnitude) {
        return {
          path: google.maps.SymbolPath.CIRCLE,
          fillColor: 'red',
          fillOpacity: .5,
          scale: Math.pow(2, magnitude) / 2,
          strokeColor: 'brown',
          strokeWeight: .5
        };
      }
      function eqfeed_callback(results) {
        map.data.addGeoJson(results);
      }
    function setMarkers(map,locations){
     
      var marker, i
      $(".lat").each(function() {
               
            var cords = $(this).val().split(' ');
             var lat = cords[0];
             var long = cords[1];
             var cost = cords[2];
             var image = cords[3];
             var bedroom = cords[4];
             var kitchen = cords[5];
             var bathroom = cords[6];
             var area = cords[7];
             var timestamp = cords[8];
             var d = cords[9];
             var m = cords[10];
             var dd = cords[11];
             var yy = cords[12];
             var cent = new google.maps.LatLng(34.968330, -103.521123);
             latlngset = new google.maps.LatLng(lat, long);
              var marker = new google.maps.Marker({  
                icon: 'https://chart.googleapis.com/chart?chst=d_bubble_icon_text_small&chld=dollar|bb|$+'+cost+'|00C853|E8F5E9',
                      map: map, title: long , position: latlngset  
              });
              map.setCenter(cent)
              var content = '<img src="'+image+'" width="250px" >'+
                            '<p class="cost"><img src="images/dollar.jpg" width="22"  height="22">&nbsp;&nbsp;'+cost+'</p>'+
                            '<p class="room"><img src="images/br.jpg" width="22" height="22"> '+bedroom+' | <img src="images/wr.jpg" width="22" height="22"> '+bathroom+' | <img src="images/area.jpg" width="22" height="22"> '+area+' SqFt</p>'+
                            '<p class="date"><img src="images/date.jpg" width="22" height="22">&nbsp;&nbsp; '+d+' '+m+' '+dd+' '+yy+' '+'</p>'+
                            '<p class="link" id="'+timestamp+'">Read more</p>';     
              var infowindow = new google.maps.InfoWindow()
              google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
                  return function() {
                     infowindow.setContent(content);
                     infowindow.open(map,marker);
                  };
              })(marker,content,infowindow)); 
            });
          }
        </script>
       </head>
      <body onload="initialize()">
    <div id="default" style="width:100%; height:80%"></div>
  </body>
</html>
 <% property.forEach(function(property){%>
  <div style="display:none;"><input type="text" class="lat" style="width: 100%;" value="<%= property.latitude %> <%= property.longitude %> <%= property.cost %> <%= property.image1 %> <%= property.bedroom %> <%= property.kitchen %> <%= property.bathroom %> <%= property.area %> <%= property.timestamp %> <%= property.dateField %>">
  </div>
            
  <%}) %>
       